$colors: (
  'default': (
    'black': '230, 13%, 9%',
    'white': '0, 0%, 100%',
  ),
) !default;

$sizes: (
  'fluid': (
    '@sm': (
      '4xs': '0.125rem',
      '3xs': '0.25rem',
      '2xs': '0.5rem',
      'xs': '0.75rem',
      'sm': '1rem',
      'md': '1.5rem',
      'lg': '2.25rem',
      'xl': '3.5rem',
      '2xl': '5.75rem',
      '3xl': '9.25rem',
      '4xl': '15rem',
    ),
    '@lg': (
      '4xs': '0.125rem',
      '3xs': '0.25rem',
      '2xs': '0.5rem',
      'xs': '0.75rem',
      'sm': '1rem',
      'md': '1.75rem',
      'lg': '3rem',
      'xl': '5rem',
      '2xl': '8rem',
      '3xl': '12.25rem',
      '4xl': '20rem',
    ),
  ),
) !default;

$spacing: (
  'fluid': (
    '@sm': (
      '4xs': '0.125rem',
      '3xs': '0.25rem',
      '2xs': '0.5rem',
      'xs': '0.75rem',
      'sm': '1rem',
      'md': '1.5rem',
      'lg': '2.25rem',
      'xl': '3.5rem',
      '2xl': '5.75rem',
      '3xl': '9.25rem',
      '4xl': '15rem',
    ),
    '@lg': (
      '4xs': '0.125rem',
      '3xs': '0.25rem',
      '2xs': '0.5rem',
      'xs': '0.75rem',
      'sm': '1rem',
      'md': '1.75rem',
      'lg': '3rem',
      'xl': '5rem',
      '2xl': '8rem',
      '3xl': '12.25rem',
      '4xl': '20rem',
    ),
  ),
) !default;

$font-family: (
  'display': 'var(--font-NAME), system-ui, sans-serif',
  'body': 'var(--font-NAME), system-ui, sans-serif',
) !default;

$font-size: (
  'fluid': (
    '@sm': (
      'xs': '0.6875rem',
      'sm': '0.8125rem',
      'base': '1rem',
      'md': '1.1875rem',
      'lg': '1.4375rem',
      'xl': '1.75rem',
      '2xl': '2.0625rem',
      '3xl': '2.5rem',
      '4xl': '3rem',
    ),
    '@lg': (
      'xs': '0.75rem',
      'sm': '0.9375rem',
      'base': '1.125rem',
      'md': '1.375rem',
      'lg': '1.625rem',
      'xl': '2rem',
      '2xl': '2.5rem',
      '3xl': '3rem',
      '4xl': '3.625rem',
    ),
  ),
) !default;

$line-height: (
  'xs': '1.1',
  'sm': '1.2',
  'md': '1.4',
  'lg': '1.58',
  'xl': '1.72',
) !default;

$border-radius: (
  'sm': '0.1875em',
  'md': '0.375em',
  'lg': '0.75em',
  'xl': '0.95em',
  'full': '9999px',
) !default;

$breakpoints: (
  xs: 32rem /* ~512px */,
  sm: 48rem /* ~768px */,
  md: 64rem /* ~1024px */,
  lg: 80rem /* ~1280px */,
  xl: 90rem /* ~1440px */,
) !default;
